@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --color-primary: #1e3969;
    --color-primary-100: #4a90e2;
    --color-primary-200: #4b77b8;
    --color-primary-300: #2a4b7c;
    --color-white: #ffffff;
    --color-background: #f5f5f5;
  }
}
